In [15]:
from datetime import datetime
import requests
import config
import pandas as pd
import time

In [16]:
symbol = 'AAPL'
start_date = '2015-01-11'
end_date = '2021-07-12'
rooturl = 'https://api.polygon.io/v2/aggs'

In [17]:
def convertdateformat(date):
    """old date format 01-01-20 d m y"""
    """new date format 2020-01-01 Y m d"""
    d = datetime.strptime(date, '%d-%m-%y')
    return d.strftime("%Y-%m-%d")

In [18]:
def getwatchlistsymboleoddata(symbol, start_date, end_date):
    rooturl = 'https://api.polygon.io/v2/aggs'
    timeframe = 'range/30/minute'
    ticker = f'ticker/{symbol}'
    adjust = 'unadjusted=true'
    sort = 'sort=asc'
    limit = 'limit=10000'
    apikey = f'apiKey=gk5LejkXXsoxH53JKFHkbefopcUoGhEt'
    httprequest = f'{rooturl}/{ticker}/{timeframe}/{start_date}/{end_date}?{adjust}&{sort}&{limit}&{apikey}'
    """Making a get request and return the results"""
    return requests.get(httprequest).json()

In [19]:
def tsInMilliSecondsToDate(ts):
    time_stamp = ts/1000 # time stamp 
    struct_time = time.localtime(time_stamp) 
    return time.strftime("%Y-%m-%d %H:%M:%S", struct_time)

In [20]:
_symbol = ['AAPL']
"""enter one of the following range values:  minute|hour|day|week|month|quarter|year"""
_rangevalue = 'minute'
"""enter the start and end date in the following date format, %d-%m-%Y"""
_start_date = '14-07-10'
_end_date = '12-07-21'
"""print(f'start date: {convertdateformat(_start_date)}')
print(f'end date: {convertdateformat(_end_date)}')"""
"""return the eod data from start date to end date for the current symbol using POLYGON"""
templist = getwatchlistsymboleoddata(_symbol[0], convertdateformat(_start_date), convertdateformat(_end_date))
jsondata = templist['results']
newlist = []
for data in jsondata:
    mo = [tsInMilliSecondsToDate(data['t']), data['v'],  data['o'], data['c'], data['h'], data['l']]
    newlist.append(mo)
symbol_eod_dataframe = pd.DataFrame(newlist, columns=['t', 'v','o', 'c', 'h', 'l'])
aapl_dataframe = pd.DataFrame(symbol_eod_dataframe)
aapl_dataframe.set_index('t', inplace=True)
aapl_dataframe

                            v        o         c       h         l
t
2010-07-14 17:30:00     300.0  254.000  253.8400  254.00  253.8400
2010-07-14 18:00:00     300.0  253.500  253.5000  253.50  253.5000
2010-07-14 18:30:00     600.0  253.200  253.2500  253.25  253.2000
2010-07-14 19:00:00    2790.0  253.250  252.5000  253.25  252.3000
2010-07-14 19:30:00   16862.0  252.510  251.6400  252.80  251.2300
...                       ...      ...       ...     ...       ...
2010-08-05 01:00:00  668727.0  262.630  261.9800  262.80  261.7000
2010-08-05 01:30:00  517265.0  262.009  262.1300  262.47  261.8100
2010-08-05 02:00:00  579584.0  262.140  262.7000  262.88  262.1019
2010-08-05 02:30:00  782567.0  262.680  262.7008  263.18  262.4300
2010-08-05 03:00:00  758620.0  262.730  262.7700  263.00  262.3600

[455 rows x 5 columns]